.d-block-w-100 {
    height:15cm;
    display: block;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

html {
  height: 100%;
}




.hashtag {
  font-size: 9vw;
  text-align: center;
  line-height: 10vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
  background: url(https://scontent-fco2-1.xx.fbcdn.net/v/t39.30808-6/212594969_4233125936767618_8794304627808259113_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=3lSxJddfXiwAX-ogA9b&_nc_ht=scontent-fco2-1.xx&oh=00_AT-j8ne_h1NQWXrVLc3bMb9X7jOlACweQGtYywMkVq8zlg&oe=6265B8FA);
  background-size: 50%;
  background-position: 1%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 5s ease 500ms forwards;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}

.chisiamo {
background-color: coral;
  text-align: center;
  margin-top: 4cm;
  color: #ffffff;
}

h4{

    text-align: center;
    
}

.body{
  background-color: aqua;
}

