.eventi {
	background-color: coral;
	  text-align: center;
	  color: #ffffff;
	  font-size: 6vh;
	  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
	}

